
body{
    height: 90.8vh; /*gambiarra - 100 tava dando mais*/
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding-top: 5%;
    background: linear-gradient(#899CFA 0%, #AD7EFD 100%);
}

#app {
    background-color:white;
    max-width: 600px;
    border: 2px solid black
}

 .addTask{
    display: flex;
    justify-content: space-around;
    font-size: 120%;
 }

 #addTaskButton{
font-size: 75%;
}

#addTaskButton:hover{
    background-color: greenyellow;
    color: white;
}

h1{
    display: flex;
    justify-content: center;
}

input{
    width: 500px;
    font-size: 100%;
}

button{
    cursor: pointer;
    height: 32px;
    width: 32px;
}

ul{
    padding: 0
}

.taskWrapper {
    display: flex;
    justify-content: space-around;
    width: 600px;

}

.delBtn{
    margin-left: 1em;
    margin: 5px 0 0 0;
    font-size: 110%;
}

.delBtn:hover{
    background-color: red;
    color: white;
}

.done{
    text-decoration: line-through;
}


.task{
    margin: 5px;
    cursor: pointer;
    justify-content: space-between;
    font-size: 120%;
    width: 500px;
    overflow: hidden;
}

.taskWrapper:hover{
    background: #ddd;
}
