
body{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 2.5%;
    background: linear-gradient(#899CFA 0%, #AD7EFD 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#app {
    background-color:white;
    width: 85%;
    min-height: 180px;
    max-width: 500px;
    border: 2px solid black;
    padding: 0 16px 16px 16px;
}

h1{
    display: flex;
    justify-content: center;
    margin: 12px;
}

 .addTask{
    display: flex;
    justify-content: space-around;
    font-size: 120%;
    margin-bottom: 20px;
 }

 input{
    width: 100%;
    font-size: 90%;
}

 #addTaskButton{
font-size: 100%;
}

button{
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin-left: 8px;
}

ul{
    padding: 0 0 0 1.5%;
    max-width: 100%;
}

.taskWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 3px;
    /* background-color: #ddd; */
    /* height: 32px; */
}

.task{
    cursor: pointer;
    justify-content: space-between;
    font-size: 120%;
    overflow: hidden;
    width: 100%;
}

.delBtn{
    font-size: 100%;
}

.done{
    text-decoration: line-through;
}

@media screen and (min-width: 1024px) {
   
    #addTaskButton:hover{
        background-color: greenyellow;
        color: white;
    }

    .taskWrapper:hover{
        background: #ddd;
    }

    .delBtn:hover{
        background-color: red;
        color: white;
    }

    body {
        padding: 2.5%;
    }

}
