:root {
  --color-background: rgb(48 86 87 / 10%);
  --color-dark-green: hsl(182, 29%, 10%);
  --color-ligth-grey: rgb(204 204 204 / 55%);
  --color-medium-grey: rgb(100 100 100 / 25%);
  --color-box-shadow: rgb(48 86 87 / 75%);
  --color-gradient-green: hsl(181deg 70% 20% / 30%);
  --color-gradient-brown: hsl(26deg 76% 20% / 30%);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-background);
}

.dark-theme {
  --color-background: rgb(48 86 87 / 80%);
  --color-dark-green: hsl(182, 29%, 80%);
  --color-ligth-grey: rgb(100 100 100 / 55%);
  --color-medium-grey: rgb(150 150 150 / 75%);
  --color-box-shadow: rgb(48 86 87 / 95%);
  --color-gradient-green: hsl(181deg 70% 10% / 70%);
  --color-gradient-brown: hsl(26deg 76% 10% / 70%);
}

.app {
  align-items: center;
  border: 1px solid var(--color-ligth-grey);
  border-radius: 2rem;
  box-shadow: 0 17px 12px -5px var(--color-box-shadow), 0 -7px 12px -5px var(--color-box-shadow);
  background: var(--color-background);
  background: linear-gradient(135deg, var(--color-gradient-green) 0%, var(--color-gradient-brown) 100%);
  color: var(--color-dark-green);
  display: flex;
  flex-direction: column;
  margin: 0.25rem 0;
  max-height: fit-content;
  min-height: 95vh;
  padding: 1rem 0.5rem;
  position: relative;
}

/* HEADER */
  .header {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .header-title {
    font-size: 2rem;
    font-weight: 500;
  }
  .date {
    font-weight: 300;
    font-size: 0.85em;
    margin-top: 0.5rem;
  }

  .theme-change {
    align-items: center;
    align-self: end;
    display: flex;
    margin: 0.25rem 1rem;
    position: absolute;
  }

  .theme-btn {
    align-items: center;
    background-color: var(--color-ligth-grey);
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    height: 25px;
    margin-left: 1rem;
    width: 50px;
  }

  .theme-btn-dark {
    justify-content: flex-end;
  }

  .theme-btn-choice {
    background-color: var(--color-dark-green);
    border-radius: 50%;
    height: 23px;
    margin: 0 2px;
    width: 23px;
  }
  

/* INSERT */
.insert {  
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  max-width: 600px;
  padding: 1rem 0;
  width: 80%;
}

.insert-title {
  align-self: center;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid var(--color-medium-grey);
  border-radius: 25px;
  border-top: 1px solid var(--color-medium-grey);
  height: 25px;
  line-height: 23px;
  padding: 0 1rem;
  width: 100%;
}

.insert-entry {
  display: flex;
  justify-content: space-between;
}

.insert-input {
  background-color: var(--color-medium-grey);
  border: 1px solid rgb(0 0 0 / 25%);
  border-radius: 3px;
  color: var(--color-dark-green);
  font-weight: 300;
  padding: 0.25em 0.5em;
}

.insert-input::placeholder {
  color: var(--color-dark-green);
}
.insert-input ::-ms-input-placeholder {
  color: var(--color-dark-green);
}

.insert-btn {
  background-color: hsl(166deg 27% 10% / 75%);
  border: 1px solid rgb(255 255 255 / 30%);
  border-radius: 3px;
  color: hsl(0, 0%, 90%);
  cursor: pointer;
  font-weight: 300;
  margin-left: 0.5em;
  padding: 0.25em 0.5em;
  width: 60px;
}

.insert-btn:hover {
  background-color: hsl(166deg 27% 20% / 75%);
}

/* LIST */
.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 1rem 0;
  max-width: 600px;
  width: 80%;
}

.list-title,
.list-filter-title {
  align-self: center;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid var(--color-medium-grey);
  border-radius: 25px;
  border-top: 1px solid var(--color-medium-grey);
  height: 25px;
  line-height: 23px;
  padding: 0 1rem;
  width: 100%;
}

.list ul {
  width: 100%;
}

.task {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  list-style: none;
  line-break: anywhere;
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  vertical-align: middle;
}

.task-text {
  flex: 1;
  font-weight: 300;
}

.task-text:hover {
  font-size: 1.05em;
}

.done {
  color: hsl(182, 29%, 40%);
  text-decoration: line-through;
}

.remove-btn {
  background-color: transparent;
  border: 0px solid rgb(255 255 255 / 30%);
  border-radius: 3px;
  /* color: hsl(0, 0%, 90%); */
  cursor: pointer;
  font-size: .9rem;
  font-weight: 300;
  margin-left: 0.5em;
  padding: 0.25em;
  width: 30px;
}
.remove-btn svg {
  color: var(--color-dark-green);
}

.remove-btn:hover {
  background-color: hsl(355deg 91% 60% / 70%);
}

.list-filter {
  display: flex;
  justify-content: space-around;
}

.list-filter-item {
  list-style: none;
}

.list-btn {
  background-color: hsl(182, 29%, 40%);
  border: 1px solid rgb(255 255 255 / 30%);
  border-radius: 3px;
  cursor: pointer;
  font-size: .9rem;
  line-break: anywhere;
  font-weight: 300;
  padding: 0.25rem;
  width: 60px;
}

.list-btn-click {
  background-color: hsl(182, 29%, 80%);
}

.filter-done {
  display: none;
}