body {
  font: 100%/1.5em arial, verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: black;
  text-align: center;
  background-color:rgb(50, 85, 87);
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

  .page-title {
    margin: inherit;
    font-size: 1.8em;
    font-weight: 700;
    padding: 20px;
    color: white;
    background-color: rgb(102, 172, 175);
    border-radius: 25px;
  }

  .information {
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
  }

    .section-package {
      border-radius: 25px;
      color: white;
      width: 100%;
    }

      .task-lable {
        display: block;
        font-weight: 600;
        background-color: rgb(102, 172, 175);
        border-radius: inherit;
        padding: 10px;
      }

      .table-inputs {
        display: block;
        height: 30px;
        width: 100%;
        font-size: 1em;
        margin-top: 5px;
        margin-bottom: 25px;
        border: none;
        padding: 0%;
        border-radius: inherit;
      }

      .table-inputs:hover {
        border-color: rgb(102, 172, 175);
        border-style: solid;
        border-width: 3px;
      }

      .btnAddTask {
        display: block;
        margin: auto;
        font-weight: 600;
        font-size: inherit;
        color: white;
        border: none;
        border-radius: 25px;
        background-color: rgb(102, 172, 175);
        padding: 10px;
      }
      
      .btnAddTask:hover {
        border-style: solid;
        border-width: 2px;
      }

  .table-container {
    margin: auto;
    margin-top: 25px;
    max-width: 1200px;
    border: none;
    color:white;
  }

    .th-task, .th-status, .th-deadline, .th-delete, .td-initial, .td-name, .td-status, .td-date, .td-deletion {
      font-size: 1.1em;
      text-align: center;
      width: 100%;
      border-bottom: 2px solid rgb(102, 172, 175);
      padding: 0%;
    }

    #to-do {
      font-weight: 700;
      background-color: rgb(23, 131, 125);
    }
    #to-do:hover {
      background-color: rgb(26, 144, 138);
    }
    #done {
      background-color: rgb(76, 139, 76);
    }
    #done:hover {
      background-color: rgb(85, 151, 85);
    }

    .td-status {
      min-width: 60px;      
    }
    .td-date {
      min-width: 100px;
    }

    .td-name:hover {
      background-color: rgb(63, 111, 114);
    }

  #deleteTask {
    font-size: 0.9em;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: rgb(102, 172, 175);
  }
  #deleteTask:hover {
    background-color: rgb(133, 2, 2);
    border: 1px solid white;
  }

  @media screen and (min-width: 300px) {
    .th-status {
      min-width: 80px;
    }
    .th-date {
      min-width: 120px;
  }
}

@media screen and (min-width: 500px) {
  .section-wrapper {
    flex-direction: row;
    gap: 20px;
  }
  .td-status {
    min-width: 80px;
  }
  .th-status {
    min-width: 100px;
  }
  .td-date {
    min-width: 120px;
  }
  .th-date {
    min-width: 150px;
  }
  #deleteTask {
    min-width: 60px;
  }
}

@media screen and (min-width: 700px) {
  .td-status {
    min-width: 100px;
  }
  .td-date {
    min-width: 150px;
  }
}

@media screen and (min-width: 900px) {
  .td-deletion, .th-deadline {
    min-width: 80px;
  }
}